.vscode/*
!.vscode/cspell.json
!.vscode/extensions.json

__pycache__/
*.py[cod]
*$py.class

.coverage

sphinx/
doc/apidoc

3rd-party-licenses.txt
3rd-party-licenses-list.md

.pypirc
dist/
decm05.egg-info/

.DS_Store
